.holder {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonreg {
    background-color: aquamarine;
    font-size: 20px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-auto-rows: 50px;
    gap: 10px 10px;
}

.display {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: firebrick;
}

.operatorbutt {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex: 0 0 75%;
    align-items: center;
    justify-content: center;
}